./programs/.deps
./programs/.libs
./programs/Makefile
./programs/Makefile.in
./programs/tsctp
./programs/client
./programs/daytime_server
./programs/discard_server
./programs/rtcweb
./programs/ekr_client
./programs/ekr_server
./programs/ekr_peer
./programs/ekr_loop

./usrsctplib/.deps
./usrsctplib/.libs
./usrsctplib/Makefile
./usrsctplib/Makefile.in
./usrsctplib/*.lo
./usrsctplib/*.la
./usrsctplib/*.lib

./Manual.aux
./Manual.log
./Manual.pdf
./Manual.toc
